%a{href: "/?refresh=1", class: "btn btn-primary"} Force Refresh
%table.table
  %thead
    %tr
      %th Envelope Name
      %th Balance
  %tbody
    - @envelopes.each do |envelope|
      %tr
        %td= link envelope.name, "/envelope/#{envelope.id}"
        %td= as_money envelope.balance

    
