= link "Force Refresh", "/?refresh=1"
%table.table
  %thead
    %tr
      %th Envelope Name
      %th Balance
  %tbody
    - @envelopes.each do |envelope|
      %tr
        %td= link envelope.name, "/envelope/#{envelope.id}"
        %td= as_money envelope.balance

    
